* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .gjs-row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .gjs-cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #ii1k{
    width:85%;
    height:96%;
    left:8%;
    position:absolute;
    top:2%;
    border-radius:25px 25px 25px 25px;
    border:1px solid black;
    box-shadow:1px 1px 40px 4px #454343 ;
  }
  #iqk2{
    flex-basis:30%;
  }
  #iax6{
    flex-basis:70%;
    align-self:stretch;
  }
  #ie6b{
    width:100%;
    height:100%;
    position:relative;
  }
  #i8n4{
    color:black;
  }
  #iiro{
    height:761px;
  }
  #i8mkm{
    position:relative;
    left:5%;
    top:2%;
    padding:0px 0px 0px 5%;
    border-radius:1em 1em 1em 1em;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(#c6c6c6 0%, #c6c6c6 100%);
    color:#000000;
    text-align:left;
    width:89%;
    min-height:63%;
  }
  #ieh68{
    color:black;
    width:3em;
    margin:1em 0px 0px 0px;
    float:left;
  }
  #iwhj3{
    padding:10px;
    margin:1em 0px 0px 0px;
    float:left;
    max-width:12em;
    width:15em;
  }
  #ibd5f{
    color:black;
    width:2em;
    margin:1.3em 0px 0px 0px;
  }
  #i9s69{
    color:black;
    width:2em;
    margin:1.3em 0px 0px 0px;
  }
  #i3qjw{
    color:black;
    width:3em;
    margin:1em 0px 0px 0px;
    float:left;
  }
  #ij38n{
    padding:10px;
    margin:1em 0px 0px 0px;
    float:left;
    max-width:12em;
    width:12em;
    font-weight:200;
  }
  #ihiri{
    color:black;
    width:2em;
    margin:1.3em 0px 0px 0px;
  }
  #iczdb{
    color:black;
    width:2em;
    margin:1.3em 0px 0px 0px;
  }
  #i0lej{
    flex-basis:101%;
  }
  #iaobj{
    color:black;
    width:4em;
    float:right;
    margin:0 0 0 1em;
  }
  #i9dr4{
    float:right;
    font-weight:500;
    font-size:22px;
    min-height:1em;
    position:relative;
    text-align:left;
    align-self:center;
  }
  #ijhqh{
    color:black;
    width:4em;
    float:left;
    margin:0px 1em 0px 1em;
  }
  #ic275{
    float:left;
    font-weight:500;
    font-size:22px;
    min-height:1em;
    position:relative;
    text-align:left;
    align-self:center;
  }
  #ijhyi{
    bottom: 0px;
    width: 72%;
    position: absolute;
  }
  #ivna8{
    position:relative;
    align-self:flex-end;
    align-items:flex-end;
    width: 49em;
  }
  #iarog{
    border:1px solid black;
    width:80%;
    height:4em;
    margin:1em 0px 0px 2em;
    float:left;
    border-radius:10px 10px 10px 10px;
    padding:0 0 0 1em;
  }
  #ik2rh{
    color:black;
    width:3em;
    margin:1em 0 0 0;
  }
  @media (max-width: 768px){
    .gjs-row{
      flex-wrap:wrap;
    }
  }
  